@font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro Light'), local('MyriadPro-Light'),
        url('fonts/MyriadPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro Semibold Italic'), local('MyriadPro-SemiboldIt'),
        url('fonts/MyriadPro-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro Bold Italic'), local('MyriadPro-BoldIt'),
        url('fonts/MyriadPro-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro Italic'), local('MyriadPro-It'),
        url('fonts/MyriadPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
        url('fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: local('Myriad Pro Condensed Italic'), local('MyriadPro-CondIt'),
        url('fonts/MyriadPro-CondIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: local('Myriad Pro Condensed'), local('MyriadPro-Cond'),
        url('fonts/MyriadPro-Cond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro Semibold'), local('MyriadPro-Semibold'),
        url('fonts/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: local('Myriad Pro Bold Condensed Italic'), local('MyriadPro-BoldCondIt'),
        url('fonts/MyriadPro-BoldCondIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: local('Myriad Pro Bold Condensed'), local('MyriadPro-BoldCond'),
        url('fonts/MyriadPro-BoldCond.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro Bold'), local('MyriadPro-Bold'),
        url('fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Charter';
    src: local('Charter Black Italic'), local('Charter-BlackItalic'),
        url('fonts/Charter-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Charter';
    src: local('Charter Black'), local('Charter-Black'),
        url('fonts/Charter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Charter';
    src: local('Charter Roman'), local('Charter-Roman'),
        url('fonts/Charter-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Charter';
    src: local('Charter BT Bold Italic'), local('Charter-BoldItalic'),
        url('fonts/Charter-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Charter';
    src: local('Charter Bold'), local('Charter-Bold'),
        url('fonts/Charter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Charter';
    src: local('Charter Italic'), local('Charter-Italic'),
        url('fonts/Charter-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn Black Italic'), local('Vollkorn-BlackItalic'),
        url('fonts/Vollkorn-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn Black'), local('Vollkorn-Black'),
        url('fonts/Vollkorn-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn ExtraBold Italic'), local('Vollkorn-ExtraBoldItalic'),
        url('fonts/Vollkorn-ExtraBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn Bold'), local('Vollkorn-Bold'),
        url('fonts/Vollkorn-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn Bold Italic'), local('Vollkorn-BoldItalic'),
        url('fonts/Vollkorn-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn ExtraBold'), local('Vollkorn-ExtraBold'),
        url('fonts/Vollkorn-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn Italic'), local('Vollkorn-Italic'),
        url('fonts/Vollkorn-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn Medium'), local('Vollkorn-Medium'),
        url('fonts/Vollkorn-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn Medium Italic'), local('Vollkorn-MediumItalic'),
        url('fonts/Vollkorn-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn Regular'), local('Vollkorn-Regular'),
        url('fonts/Vollkorn-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn SemiBold'), local('Vollkorn-SemiBold'),
        url('fonts/Vollkorn-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn SemiBold Italic'), local('Vollkorn-SemiBoldItalic'),
        url('fonts/Vollkorn-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'),
        url('fonts/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('fonts/Roboto-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('fonts/Roboto-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('fonts/Roboto-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
        url('fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('fonts/Roboto-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('fonts/Roboto-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('fonts/Roboto-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
        url('fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('fonts/Roboto-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}


body {
    font-family: "Myriad Pro"; 
    background-color: #fff;
}
